@import url("https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-sansation: Sansation;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-green: #1d9d1b;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-9xs: 4px;

  /* border radiuses */
  --br-3xl: 22px;
}
